.button_type_delete {
  position: absolute;
  background-image: url('../../../images/icon-trash.svg');
  width: 18px;
  height: 20px;
  background-size: 18px;
  border: none;
  background-color: transparent;
  top: 18px;
  right: 15px;
}

.button_type_delete:hover {
  opacity: 0.6;
  transition: 0.3s linear;
}
