.button_type_edit {
  width: 18px;
  height: 18px;
  border-radius: 0;
  border: 1px solid #fff;
  margin-left: 5px;
  margin-right: auto;
  background-image: url(../../../images/icon-edit.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 8px;
}

@media (min-width: 769px) {
  .button_type_edit {
    width: 24px;
    height: 24px;
    margin-left: 18px;
    margin-right: 0;
    margin-top: 10px;
    background-size: 10px;
  }
}

.button_type_edit:hover {
  transition: 0.3s linear;
  opacity: 0.6;
}
