.button_type_submit {
  color: #fff;
  background-color: none;
  font-size: 18px;
  line-height: 1.22;
  font-weight: normal;
  border: none;
  width: 100%;
  max-width: 358px;
  height: 50px;
  border-radius: 2px;
  margin-top: 48px;
}

.button_type_submit:hover {
  transition: 0.3s linear;
  opacity: 0.8;
}
