.button_type_like {
  margin-top: 310px;
  background-image: url(../../../images/icon-like.svg);
  background-repeat: no-repeat;
  background-position: center;
  min-width: 21px;
  height: 21px;
  background-size: 21px;
  border: none;
  background-color: transparent;
}

