.button_type_like {
  margin-top: 310px;
  background-image: url(../../../images/icon-like.svg);
  background-repeat: no-repeat;
  background-position: center;
  min-width: 21px;
  height: 21px;
  background-size: 21px;
  border: none;
  background-color: transparent;
}

.button_type_like:hover {
  opacity: 0.5;
  transition: 0.3s linear;
}

.button_type_like:active {
  background-image: url('../../../images/icon-like-filled.svg');
}
