.profile__description {
  margin: 0;
  font-size: 14px;
  width: 100%;
  margin-bottom: 36px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: calc(100% - 50px);
}

@media (min-width: 769px) {
  .profile__description {
    max-width: 400px;
    font-size: 18px;
    font-weight: normal;
    margin-top: 5px;
  }
}
